::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  font-size: medium;
  font-weight: 100;
}

.form-field {
  margin-bottom: -15px !important;
}

@media screen and (max-width: 768px) {
  .form-field {
    width: 130px;
  }
}
