<div class="weather-card">
  <ng-container *ngIf="apiLoading$ | async">
    <mat-spinner diameter="30"></mat-spinner><br />
    loading...
  </ng-container>
  <ng-container *ngIf="apiError$ | async">
    <span class="error" id="error-block">
      <mat-icon>error_outline</mat-icon><br />
      Failed to get weather details for {{location}}.
    </span>
  </ng-container>
  <ng-container *ngIf="currentWeather$ | async as currentWeather">
    <span class="name" id="city-name">{{ currentWeather.name }}</span>
    <img [src]="getIcon(currentWeather.weather[0].icon)">
    <span class="temp">{{ currentWeather.main.temp | number:'1.0-0' }}°c</span>
    <span class="type"> {{ currentWeather.weather[0].main }}</span>
    <div class="details">
      <span class="text-left">
        {{ currentWeather.main.humidity }}%
        <br />
        Humidity
      </span>
      <span class="text-right">
        {{ currentWeather.wind.speed }}<i>m/s</i>
        <br />
        Wind
      </span>
    </div>
    <span class="view">
      View Forecast
      <mat-icon>arrow_right</mat-icon>
    </span>
  </ng-container>
</div>